
html{
    scroll-behavior: smooth;
}
body {
    line-height: 1.5;
    text-size-adjust: 100%;
    background-color: #f7f7f7;

    height: 100vh;
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    background-image: url("addtask.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    }
main{
    margin: 8%;
   
}

/* Utilities */

.txtalign{
    text-align: center;
    
}
.automargin{
    margin: 3%;
}
.fontset{
    font-size: 2.1rem;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
.bold-medium {
    font-weight: 500;
}
a{
    text-decoration: none;
    color: white;
}
.sticky{
    position: sticky;
    top: 0;
    width: 100%;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
    
}
.flex-justify-content{
    display: flex;
    justify-content: center;
}
.flex-align-items{
    display: flex;
    align-items: center;
}
.grad-txt{
    background: -webkit-linear-gradient(#F53803, #F5D020);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Utilites END */

/* Navbar */

nav{
    width: 100%;
    height: 10%;
    background: #ffffff;
    box-shadow: 5px 5px 10px #e4e0e0;
}
#title{
    float: left;
    margin-left: 10%;
}

/* Navbar END */

#add-item{
    float: right;
    width: 300px;
    
}
#add-item i{
    padding-right:4%;
    
}
#newtsk-btn{
    width: 400px;
    cursor: pointer;
}
#edit-btn{
    margin-right: 50px;
    width: 150px;
    border-radius: 6px;
    border: 2px solid #f50303;
    padding: 5px 8px;
    color: #f50303;
    cursor: pointer;
}
#edit-btn:hover{
    background: -webkit-linear-gradient(#F9484A, #FBD72B
    );
    color: #ffffff;
    border: 2px solid white;
}

/* Task-Div */

.task-div{
    width: 25%;
    height: 40vh;
    margin: 2%;
    background-color: #ffffff;
    border-radius: 3%;
}
.task-div:hover{
    box-shadow:  1px 1px 15px 1px #e4e0e0;
   
}
.task-title{
    border-bottom: 3px solid #f6f6f6;
    font-size: 1.175rem;
    padding-left: 10%;
}
.task-content{
    padding-left: 10%;
}
/* input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #f7f7f7;
    font: inherit;
    color: #f7f7f7;
    width: 1.55em;
    height: 1.55em;
    margin-right: 0.55em;
    border: 0.15em solid #f7f7f7;
    border-radius: 0.15em;
    cursor: pointer; 
    
  }
input:checked{
    background: #c2c2c2;
    border-radius: 0.15em;
    transform: scale(0.9);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
 
    
  }
  input[type="checkbox"]:checked + label{
    text-decoration: line-through;
    color: #c2c2c2;
  } prabhjotsingh44*/

  .styled-checkbox {
    /* // hide it */
    opacity: 0;
    position: absolute; }
    
    .styled-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
  
    /* // Box. */
    .styled-checkbox + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 1.55em;
      height: 1.55em;
      background: #f7f7f7;
    }
    
  
  
    /* // Box checked */
    .styled-checkbox:checked + label:before {
      background: #c2c2c2;
      border-radius: 2px;
      
       
    }
  
    /* // Checkmark. Could be replaced with an image */
    .styled-checkbox:checked + label:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 12px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white,
        4px -9px 0 white;
      transform: rotate(45deg);
    }

    input[type="checkbox"]:checked + label{
        text-decoration: line-through;
        color: #c2c2c2;
      }
  
    #opacity-screen{
        position: fixed;
        visibility: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #6666665b;
    }

    .addtask-div{
        width: 330px;
        height: 300px;
        margin: 2%;
        background-color: #ffffff;
        border-radius: 3%;
    }

    input[type="text"]{
        height: 25px;
        width: 80%;
        border-radius: 5px;
        border:0;
        outline:0;
        padding: 3px;
        padding-left: 10px;
        margin-top: 10px;
        background-color: #f7f7f7;
    }
    input[type="text"]:focus{
        ;
    }

    #addtsk-btn{
        width: 100px;
        height: 30px;
        border-radius: 3px;
        border: 0;
        cursor: pointer;
        color: white;
        font-size: 0.875rem;
        font-weight: bold;
        background-color: #F5A918;
        float: right;
        margin-right: 16%;
        margin-top: 10px;
        padding: 5px;
    }
    #in_del{
        background: -webkit-linear-gradient(#f50303, #daa68b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: none;
    }
    .tsk_del{
        background: -webkit-linear-gradient(#f50303, #daa68b);
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: right;
    margin-top: -32px;
    margin-right: -8px;
    cursor: pointer;
    font-size: 25px;
    visibility: hidden;
    }
    .del-chk{
        background: -webkit-linear-gradient(#f50303, #daa68b);
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    display: none !important;
 
    }
    #form1 i{
        float: right;
        margin-top:-20px;
        margin-right: 5%;
        cursor:pointer;
        font-size: 20px;
        
    }
  /* Task-Div END */

@media only screen and (max-width: 768px){
    .d-flex{
        flex-direction: column;
    }
    .task-div{
        width: auto;
    }
    #addtsk{
        display: none;
    }
    #add-item{
        float: none;
        display: flex;
        justify-content: center;
        width: auto;
        margin: 8%;
    }
    #add-item i{
        padding:0;
    }
    #newtsk-btn{
        width: 25px;
    }
    #edit-btn{
        width: 80px;
        margin-left: 50%;
        margin-right: 30px;
    }
    body{
        background-size:80%;
    }
}
